<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.jnx.jjshop.dao.AddressDao">
    <insert id="add" useGeneratedKeys="true" keyProperty="id" keyColumn="id"
            parameterType="dev.jnx.jjshop.model.Address">
    insert into Address (uid, name, mobile, province, city, county, addressDetail, areaCode)
    values(#{uid}, #{name}, #{mobile}, #{province}, #{city}, #{county}, #{addressDetail}, #{areaCode})
  </insert>

    <select id="getDefault" resultType="dev.jnx.jjshop.model.Address">
        select * from Address where uid=#{uid} and isDefault=1
    </select>

    <update id="setDefault">
        update Address set isDefault=1-isDefault where (isDefault=1 and uid=#{uid}) or id=#{id};
    </update>

    <select id="list" resultType="dev.jnx.jjshop.model.Address">
        select * from Address where uid=#{uid} and isDeleted=0
    </select>

    <update id="delete">
        update Address set isDeleted=1 where id=#{id} and uid=#{uid}
    </update>

    <update id="update" parameterType="dev.jnx.jjshop.model.Address">
        update Address set name=#{name}, mobile=#{mobile}, province=#{province}, city=#{city},
        county=#{county}, addressDetail=#{addressDetail}, areaCode=#{areaCode}
        where id=#{id}
    </update>

    <select id="get" resultType="dev.jnx.jjshop.model.Address">
        select * from Address where id=#{id}
    </select>
</mapper>