<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.jnx.jjshop.dao.LogisticsDao">
    <insert id="add">
    insert into Logistics (orderId, customerName, shipperCode, logisticCode)
    values(#{orderId}, #{customerName}, #{shipperCode}, #{logisticCode})
  </insert>

    <update id="update">
        update Logistics set customerName=#{customerName}, shipperCode=#{shipperCode},
        logisticCode=#{logisticCode} where orderId=#{orderId}
    </update>

    <select id="get" resultType="dev.jnx.jjshop.model.LogisticsModel">
    select * from Logistics where orderId=#{orderId}
  </select>
</mapper>