<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.jnx.jjshop.dao.UserDao">
    <insert id="add">
    insert into User (username, password) values(#{username}, #{password})
  </insert>

    <select id="getByUsername" resultType="dev.jnx.jjshop.model.UserModel">
    select * from User where username=#{username}
  </select>

    <update id="update" parameterType="dev.jnx.jjshop.model.User">
        update User set role=#{role} where id=#{id}
    </update>

    <select id="list" resultType="dev.jnx.jjshop.model.User">
        select * from User where id &lt; #{lastMinId}
        <if test="text != null and text!=''">
            and username like CONCAT('%',#{text},'%')
        </if>
        order by id desc limit 20
    </select>
</mapper>